.heads{
    display: flex;
    background-color: black;
    color: whitesmoke;
    justify-content: center;
    white-space:normal;
    font-family:Arial, Helvetica, sans-serif;
}
.mod-links{
    display: flex;
    background-color: black;
    color: whitesmoke;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
a{
    color: inherit;
}
body{
    background-color: slategray;
    
}
.eye{
    display: flex;
    justify-content: center;
}
.grid{
    display: flex;
    justify-content: center;
    color:turquoise;
}
.item{
    border: solid;
    border-radius: 10px;
}
.list{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    font-size: 20px;
}
.link{
    border:solid;
    border-style: inset;
    border-radius: 200px;
}
.link:hover{
    transform: scale(1.2);
}
.yup{
    display: flex;
    justify-content: space-evenly;
}
.clas{
    display: flex;
    justify-content: center;
}